/* Reset */
body {
    font-family:
        Arial black,
        sans-serif;
    background-color: powderblue;
    margin: 0;
}

/* NAV LINKS */
.nav {
    display: flex;
    justify-content: left;
    background-color: white;
}

.nav a {
    color: pink;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.nav a:hover {
    background-color: pink;
    color: white;
}
.logo {
    padding: 10px;
    height: 70px;
    width: auto;
}
.grid {
    display: grid;
    place-items: center;
}

.grid img {
    grid-area: 1/1;
    margin: 0;
    width: 100%;
    height: 200px;
    display: block;
}

.header-text {
    grid-area: 1/1;
    align-self: start;
    padding-top: 30px;
    justify-self: center;
    color: brown;
    font-weight: bold;
    font-size: 40px;
}

.order_form {
    margin-left: 5%;
    margin-top: 10px;
    color: #fc5a90;
    font-weight: bold;
    font-size: 15px;
}
h4 {
    font-size: 25px;
    margin-left: 10%;
    color: brown;
}

.footer {
    background-color: white;
    color: pink;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    margin-top: 40px;
}

/* HAMBURGER (hidden by default on desktop) */
.menu-toggle {
    display: none;
    width: 30px;
    height: 25px;
    position: absolute;

    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1001;
}

.bar {
    height: 4px;
    width: 100%;
    background-color: black;
    margin: 5px 0;
    transition: 0.4s;
}

/* Transform into X */
.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
}

/*  MOBILE STYLES */
@media (max-width: 600px) {
    /* Show hamburger */
    .menu-toggle {
        display: block;
    }

    /* Hide nav off screen */
    .nav {
        position: fixed;
        left: -250px;
        top: 0;
        width: auto;
        height: 100%;
        flex-direction: column;
        background-color: white;
        padding-top: 60px;
        transition: 0.4s;
    }
    .logo {
        padding: 10px;
        height: 20%;
        width: auto;
    }
    /* Show when active */
    .nav.active {
        left: 0;
    }

    .nav a {
        display: block;
        padding: 15px;
    }
}
